@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes twinkle {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

.animate-twinkle {
  animation: twinkle 5s infinite;
}

